<div class="event-container">
  <form [formGroup]="eventForm">
    
    <div class="event-modal-line event-title">
        <span>Title</span>
        <input class="ui-inputtext" type="text" formControlName="title">
    </div>

    <div class="event-modal-line error-line" *ngIf="f.title.errors && formSubmitted">
      Title is required.
    </div>

    <div class="event-modal-line event-entire-day">
        <span>Entire day</span>      
        <input type="checkbox" value="entireDay" id="entireDay" formControlName="entireDay">
      </div>
  
    <div class="event-modal-line event-start-day">
      <span>Start date:</span>      
      <p-calendar [readonlyInput]="true" formControlName="startDate" (onSelect)="onChangeStartDate()"> </p-calendar>
    </div>

    <div class="event-modal-line event-start-time" *ngIf="!f.entireDay.value">
      <span>Start time:</span>      
      <div class="start-time-select">
        <select class="ui-inputtext" formControlName="startHour">
            <option *ngFor="let hour of hoursArray" [value]="hour" >{{hour | singleTimeNumberPipe}}</option>
        </select>
        :
        <select class="ui-inputtext" formControlName="startMinutes">
            <option *ngFor="let minute of minutesArray" [value]="minute">{{minute | singleTimeNumberPipe}}</option>
        </select>
      </div>
    </div>

    <div class="event-modal-line event-end">
        <span>End date:</span>
        <p-calendar [readonlyInput]="true" 
        [minDate]="f.startDate.value" 
        [defaultDate]="f.startDate.value" 
        formControlName="endDate"> </p-calendar>  
    </div>

    <div class="event-modal-line event-end-time" *ngIf="!f.entireDay.value">
      <span>End time:</span>      
      <div class="end-time-select" >
        <select class="ui-inputtext" formControlName="endHour">
            <option *ngFor="let hour of hoursArray" [value]="hour" >{{hour  | singleTimeNumberPipe }}</option>
        </select>
        :
        <select class="ui-inputtext" formControlName="endMinutes">
            <option *ngFor="let minute of minutesArray" [value]="minute">{{minute  | singleTimeNumberPipe}}</option>
        </select>
      </div>
    </div>

    <div class="event-modal-line event-user">
        <span>User :</span>
        <p-dropdown [options]="usersArray" formControlName="user" placeholder="Select a user">
            <ng-template let-user pTemplate="selectedItem">                 
                <span [ngStyle]="{'background-color': user.color}" class="user-item">{{user.label}}</span>
            </ng-template>
            <ng-template let-user pTemplate="item">          
                <div [ngStyle]="{'background-color': user.color}" class="user-item">{{user.label}}</div>
            </ng-template>
        </p-dropdown>
    </div>

    <div class="event-modal-line error-line" *ngIf="f.user.errors && formSubmitted">
      User is required.
    </div>

  </form>

  <span class="pi pi-trash" *ngIf="!isNewEvent" (click)="removeEvent()"></span>
  <span class="pi pi-save" (click)="saveEvent()"></span>
</div>